/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    // background: #2C294F;
    background-color: #f3f4f6;
}

p {
    font: 0.9rem/1.45 "Operator Mono";
    color: #A599E9;
}